.about {
  min-width: 400px;
  padding: 6em;
  padding-top: 2em;
  text-align: center;
  max-width: 1200px;
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
    margin-top: 10px;
  }
}
