:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --header-height: 50px;
  --footer-height: 40px;
  --red: #990000;
  --primary-glow: radial-gradient(rgba(255, 1, 1, 0.4), rgba(255, 1, 1, 0));
  --secondary-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(255, 1, 1, 0.3)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@font-face {
  font-family: BR;
  src: url("./../assets/br.TTF");
}

@font-face {
  font-family: TB;
  src: url("./../assets/tb.ttf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
  --tile-border: conic-gradient(
    #ffffff80,
    #ffffff40,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff10,
    #ffffff80
  );

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h2 {
  margin: 10px;
}

li {
  margin-top: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  text-align: center;
}
.blog .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog .center ul h4,
.blog .center ol h4,
.blog .center ul h3,
.blog .center ol h3,
.blog .center p {
  text-align: center;
}

.blog ol {
  margin-bottom: 10px;
}

.blog ol li {
  margin-left: 2em;
}

.blog ul {
  list-style: none;
  margin-bottom: 10px;
}

.blog li {
  text-align: left;
}

.blog h1 {
  text-transform: capitalize;
  margin: 20px 0;
}
.blog h2 {
  margin: 10px 0;
}

.blog img {
  width: 100%;
  object-fit: contain;
}

.blog p {
  margin-bottom: 15px;
}

.blog .bottom .author {
  text-align: right;
  font-weight: bold;
}

.blog .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.8em;
  opacity: 0.6;
}

code {
  padding: 10px;
  border: 2px solid rgb(var(--card-border-rgb), 0.2);
  border-radius: var(--border-radius);
  display: flex;
  align-self: center;
  padding: 10px 1em;
  margin: 0 1em;
  margin-top: 10px;
  text-align: left;
  font-family: var(--font-mono);
  font-size: 0.9em;
  overflow: auto;
}

.code p {
  font-family: var(--font-mono);
  font-size: 0.9em;
  width: fit-content;
  margin-bottom: 10px;
  text-align: left;
}

code.inline-code {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  display: inline;
}

a.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to right,
    rgba(255, 1, 1, 0.3),
    rgba(1, 65, 255, 0.3)
  );
  color: rgb(var(--foreground-rgb));
  margin: 10px;
  text-decoration: none;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
}

a.nav-btn:hover {
  background: linear-gradient(
    to right,
    rgba(255, 1, 1, 0.5),
    rgba(1, 65, 255, 0.5)
  );
}

.glow::after,
.glow::before {
  content: "";
  top: 60%;
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
  z-index: -1;
}

.glow::after {
  background: var(--primary-glow);
  width: 700px;
  height: 180px;
}

.glow::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 700px;
  height: 500px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;

  margin: 100px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 1, 1, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 1, 1, 0.5);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 600px) {
  .blog {
    width: 100%;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 5px var(--primary-glow);
  }
  50% {
    box-shadow: 0 0 20px 10px var(--primary-glow);
  }
  100% {
    box-shadow: 0 0 10px 5px var(--primary-glow);
  }
}
