header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--red);
  height: var(--header-height);
  align-items: center;
  max-width: 1200px;
  border-radius: 2em;
  min-width: 700px;

  h1,
  a {
    font-family: BR;
    text-transform: lowercase;
    font-weight: 100;
    font-size: 2em;
  }
  div {
    display: flex;
    flex: 1;
  }

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 1em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .right {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 2em;
    width: 100%;
    min-width: auto;
  }
}
