footer {
  min-height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid var(--red);
  height: 100%;
  font-family: TB;

  max-width: 1200px;
  border-radius: 2em;
  min-width: 700px;
  padding: 0 6em;

  .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-bottom {
    font-family: var(--font-mono);
    font-size: 0.8em;
  }
  a {
    margin: 10px 20px;
  }
}

@media (max-width: 768px) {
  footer {
    .footer-top {
      flex-direction: column;
      align-items: center;
      a {
        margin: 5px;
      }
    }
  }
}
