footer {
  min-height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid var(--red);
  width: 100vw;
  height: 100%;

  .footer-top {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-bottom {
    font-family: var(--font-mono);
    font-size: 0.8em;
  }
  a {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  footer {
    .footer-top {
      flex-direction: column;
      align-items: center;
      a {
        margin: 5px;
      }
    }
  }
}
