name: CI/CD Workflow

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *" # This schedule runs every day at 12:00 am UTC

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20.10.0"

      - name: Install dependencies
        run: npm install

      - name: Build the Next.js app
        run: npm run build

      - name: List contents of 'out'
        run: ls -R out

      - name: Set up Firebase CLI
        run: |
          npm install -g firebase-tools
      - name: Deploy to Firebase Hosting
        run: |
          firebase deploy --only hosting --token "$FIREBASE_TOKEN"
        env:
          FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}
